body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #119CDD;
}

.body-content a {
    color: #fff;
    text-decoration: underline;
}

.container {
    max-width: 1024px;
}

footer {
    background-color: #0B2D39;
    height: 300px;
    margin: 0;
}

h2{
    color: #fff;
    font-size: 150%;
    font-weight: normal;
    margin: 20px 0 10px 0;
}

h3 {
    color: #fff;
    font-size: 120%;
    font-weight: normal;
    margin: 5px 0;
}

h4 {
    color: #fff;
    font-size: 107%;
    font-weight: normal;
    margin: 10px 0;
}

.loan-comparison {
    margin-top: 20px;
}

.slider-area-content {
    margin: 20px 0 10px 0;
    padding: 20px 10px;
}

.below-slider-area-content {
    margin: 0;
    padding: 10px 30px;
    color: #5C5C5C;
    font-size: 110%;
}

.representative-example {
    width: 100%;
}

    .below-slider-area-content th {        
        font-weight: bold;
        margin: 0;
    }

    .below-slider-area-content td {
        font-size: 100%;
        font-weight: normal;
        margin: 0;
    }

        .below-slider-area-content-type {
            
        }

        .below-slider-area-content-value {
            color: #F7902F;
        }

 /** slider area **/
.slider-area-content h1 {
    font-size: 150%;
    font-weight: lighter;
    margin: 0;
}
.slider-area-content h1 strong {
    color: #009DE0;
    font-weight: lighter;
}

/** product costs info **/
.product-costs-info-block{
    color: #fff;
    width: 77%;
}
.product-costs-info-block .mo-row p {
    font-size: 70%;
}
.product-costs-info-block p {
    font-size: 95%;
}
/** slider style **/
input[type=range] {
    height: 46px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 11px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #008FD5;
        border-radius: 4px;
        border: 0px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 3px #2C2D2E;
        border: 0px solid #E2E7EA;
        height: 55px;
        width: 55px;
        border-radius: 39px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -21px;
        background: url(/images/sliders2.png) no-repeat -68px 0px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #008FD5;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 11px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #008FD5;
        border-radius: 4px;
        border: 0px solid #010101;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 3px #2C2D2E;
        border: 0px solid #E2E7EA;
        height: 39px;
        width: 39px;
        border-radius: 39px;
        background: #FFFFFF;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 11px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #008FD5;
        border: 0px solid #010101;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: #008FD5;
        border: 0px solid #010101;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 1px 1px 3px #2C2D2E;
        border: 0px solid #E2E7EA;
        height: 39px;
        width: 39px;
        border-radius: 39px;
        background: #FFFFFF;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #008FD5;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #008FD5;
    }

    /** slider button **/
.sliderminus {
    width: 32px;
    height: 32px;
    float: left;
    background: url(/images/sliders2.png) no-repeat -174px -11px;
    text-indent: -9999px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

    .sliderminus:hover {
        background-position: -256px -11px;
    }

    .sliderminus:active {
        background-position: -256px -11px;
    }

.sliderplus {
    width: 32px;
    height: 32px;
    float: right;
    background: url(/images/sliders2.png) no-repeat -133px -11px;
    text-indent: -9999px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

    .sliderplus:hover {
        background-position: -215px -11px;
    }

    .sliderplus:active {
        background-position: 215px -11px;
    }

/** submit **/
.form-submit {
    float: right;
}
.promo, .promo-right-arrow, .promo-left-arrow {
    background-color: #f7902f;
    transition: background-color 0.5s ease-out;
}

.promo:hover, .promo-right-arrow:hover, .promo-left-arrow:hover {
    background-color: #d6771d;
}

.button {
    border: none;
    color: #FFF;
    padding: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !Important;
    background-color: #F7902F;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 30px 0 10px 0;
    width: 180px;
    height: 60px;
    text-align: center;
    outline: none;
    background-repeat: no-repeat;
    padding-right: 31px;
    padding-left: 31px;
    border-radius: 10px;
}

    .button:hover {
        color: #FFF;
    }

.default:hover, .default-right-arrow:hover, .default-left-arrow:hover {
    background-color: #29aae9;
}

.button {
    transition: background-color 0.5s ease-out;
}

/** loan summary **/
.slider-loan-summary {
    margin-top: 30px;
    float: left;
    width: 70%;
}
.slider-loan-summary th {
    font-weight: lighter;
    font-size: 90%;
}
.slider-loan-summary td {
    font-weight: lighter;
    font-size: 120%;
}
.slider-loan-summary .borrowing {
    width: 20%;
}
.slider-loan-summary .symbol {
    width: 8%;
}
.slider-loan-summary .interest {
    width: 20%;
}
.slider-loan-summary .total {
    width: 44%;
    font-weight: bold;
}
.loan-borrowing {
    float: left;
}
p#slider-loan-summary span {
    font-size: 1.5em;
    font-weight: 300;
}

#slider-loan-summary span.loan-amount, #slider-loan-summary span.loan-interest, #slider-loan-summary span.loan-fees, #slider-loan-summary span.loan-total, #slider-loan-summary span.repayment-date {
    font-weight: 400;

}

.form-input.textfield {
    top: 4px;
    right: 0px;
    padding: 9px;
    width: 90px;
    height: 40px;
    font-size: 18px;
    border-radius: 7px;
    border: solid 1px #5c5c5c;
    background: #fff;
    text-align: right;
    float: right;
}

.field-prefix-currency span {
    width: 10px;
    position: relative;
    left: -60px;
    top: 0px;
    font-weight: 100;
}

input.form-element-type-textfield-currency {
    border: none;
    outline: none;
    margin-left: 15px;
    width: 60px;
    text-align: right;
    font-weight: lighter;
    position: relative;
    top: -30px;
}

.field-prefix-time span {
    width: 10px;
    position: relative;
    left: 0px;
    top: 0px;
    font-weight: 100;
}

input.form-element-type-textfield-time {
    border: none;
    outline: none;
    left: -40px;
    width: 36px;
    text-align: left;
    font-weight: lighter;
    position: relative;
    top: -30px;
}