<div class="row">
    <div class="col-md-10">
        <h2>Wonga Short Term Loans - bridge the gap until payday</h2>
        <h3>We can send Short Term Loans from £50 - £400 within 5 minutes of approval.</h3>
    </div>
    <div class="col-md-2 loan-comparison">
        <h4>
            You can find a loan comparision site 
            <a href="https://poweredby.choose-wisely.co.uk/cascadeCustomer.php?affiliate=109428FB-A394-47C7-890E-56163EBC493E" target="_blank">here</a>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel slider-area-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        How much cash do you want?
                    </div>
                    <div class="col-md-2">
                        <input type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="border: thin solid">                        
                        <input id="slide" type="range" min="50" max="400" step="1" value="111" onchange="updateSlider(this.value)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 below-slider-area-content">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <table class="representative-example">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Representative example
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="below-slider-area-content-type">Borrow</td>
                                    <td class="below-slider-area-content-value">£200 for 14 days</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                If you don't repay on time there will be extra costs:
            </div>
        </div>
    </div>
</div>


